<div class="row">

  {{#each books}}
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img class="book-cover"src="{{this.cover_url}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3 class="book-title">{{this.title}}</h3>
            <h5 class="book-genre">Genre: {{this.genre}}</h5>
            <p class="book-description">{{this.description}}</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
  {{/each}}

</div>
