<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="/books"><img class="index-books-img" src="/images/books.png"></a>
        <span class="card-title black-text center-align">Books</span>
      </div>
      <!-- <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div> -->
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="/authors"><img class="index-authors-img" src="/images/authors.png"></a>
        <span class="card-title black-text center-align">Authors</span>
      </div>
      <!-- <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div> -->
    </div>
  </div>
</div>

<!-- http://thestoryside.com/wp-content/uploads/2016/03/I-love-Authors.png -->
