<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <header>
      <nav>
        <div class="nav-wrapper indigo lighten-1">
          <a href="/books" id="brand-logo" class="brand-logo"><i class="large material-icons">library_books</i>Galvanize Reads</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/books">Books</a></li>
            <li><a href="badges.html">Authors</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">
      {{{body}}}
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>
