body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*#5c6bc0 indigo lighten-1*/

#brand-logo {
  margin-left: 1em !important;
}

nav {
  margin-bottom: 1em;
}

.book-cover {
  max-height: 27.5em;
}

.index-books-img {
  padding-top: 6em;
  padding-bottom: 6em;
}

span.card-title.black-text {
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center
}

#delete-button {
  margin-left: 1em;
}

#add-book-button, #add-author-button {
  width: 100%;
}
